*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.col-4{
    width: calc(3 * 100% / 12);
}
.card{
    background-color: salmon;
}
.card-body{
    text-align: center;
}