*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}

.container{
    padding: 20px;
    max-width: 1024px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.col-4{
    width: calc(3 * 100% / 12 - 10px);
}
.card{
    background-color: salmon;
}
.card-header{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.locandina{
    width: 200px;
    display: block;
}
.card-body{
    padding: 10px;
    text-align: center;
}